 
 <div class="py-5 bg-info" style="overflow-x:hidden;" ng-controller="ChatController">
    <div class="row">
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
        <a class="btn btn-info btn-lg" style="width:107%;" href="#!/home"><small class="d-none d-sm-none d-md-block d-lg-block d-xl-block">{{uname}}!</small></a>
        <a class="btn btn-info btn-lg col mx-1"  href="#!/home"><small class="d-none d-sm-none d-md-block d-lg-block d-xl-block">Dashboard</small> <i class="fa fa-tachometer d-block d-sm-block d-md-none d-lg-none d-xl-none"></i></a>
        <a class="btn btn-info btn-lg col mx-1"  href="#!/projects"><small class="d-none d-sm-none d-md-block d-lg-block d-xl-block">Projects</small> <i class="fa fa-folder-open d-block d-sm-block d-md-none d-lg-none d-xl-none"></i></a>
        <a class="btn btn-info btn-lg col mx-1" style="background-color:#008ab8;" href="#!/messages"><small class="d-none d-sm-none d-md-block d-lg-block d-xl-block">Messages</small> <i class="fa fa-comments d-block d-sm-block d-md-none d-lg-none d-xl-none"></i></a>
        <a class="btn btn-info btn-lg col mx-1" href="#!/about"><small class="d-none d-sm-none d-md-block d-lg-block d-xl-block">About this site</small> <i class="fa fa-info-circle d-block d-sm-block d-md-none d-lg-none d-xl-none"></i></a>
        <a class="btn btn-info btn-lg col mx-1" ng-click="logout()" href="#!/index.html">  <small class="d-none d-sm-none d-md-block d-lg-block d-xl-block">Log Out</small>  <i class="fa fa-sign-out d-block d-sm-block d-md-none d-lg-none d-xl-none"></i></a>
      </div>
      <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9 animated fadeIn" style="background-color: white;box-shadow: 2px 2px 10px grey;">
        
<br>
    <div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-10">
          
          <div class="page-header">
                  <h2 class="text-info">
                  Messages
                  </h2>

          </div>

        </div>
        <div class="col-md-2">
          
          <div ng-show="" class="btn-group">
                 <br><br><br>
                <button class="btn btn-link" ng-bind="username"><strong>
                    </strong></button> 
                    <button data-toggle="dropdown" class="btn btn-default dropdown-toggle">
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                    <li>
                    <a href="#">
                      
                    <a id="modal-138320" href="#modal-container-138320" role="button" class="btn" data-toggle="modal">Change user</a>

                    </a>
                  </li> 
                </ul>
          </div>

        </div>
      </div>

      



      <br>
      <div class="row">
        
        <div class="col-md-12">
        
        <div class="card">
        <div class="card-heading bg-info" >
          <h3 class="card-title text-white m-2">
            Chat Box
          </h3>
        </div>
        <div class="card-body text-info" id="messageBody" style="overflow-y:scroll; height:380px;">
            <div ng-repeat="messages in listofmessages | filter :{email:emailaddress}">
                <div>
                  <strong>&nbsp&nbsp&nbsp{{messages.name}}: </strong>&nbsp&nbsp&nbsp&nbsp{{messages.message}}
                  <span class="text-muted pull-right"> <p style="font-size: 10px; margin-right:5px;" class="h6">{{messages.time | date:"h:mma MM/dd/yyyy"}}</p> </span>
                  <hr>
                </div>
            </div>
        </div>
        <div class="card-footer " style="background-color: #f9f9ff;">
          <form>
          <br>
                      <input type="text" style="display: none;" ng-model="messages.email = emailaddress" >
          <input type="text" ng-show="" ng-model="messages.name = mname">
          <input type="text" ng-show="" id="tmstmp" ng-model="messages.time = example"> 
          <div class="input-group">
                    <input type="text" class="form-control" placeholder="Send john a message!" ng-model="messages.message" name="search">
                      <div class="input-group-btn">
                        <button class="btn btn-secondary" onclick="gettmstmp()" ng-click="addMessage()" type="submit"><i class="fa fa-fw fa-paper-plane"></i></button>

                      </div>
          </div>

        </form>
        </div>
      </div>

        

      <br><br><br> 
        </div>
      </div>
       

      
      <div class="modal fade" id="modal-container-138320" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
               
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                ×
              </button>
              
            </div>
            <div class="modal-body">
              <form><strong>
              &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp <input type="text" name="username" placeholder="name here" class="form-control" onkeydown = "if (event.keyCode == 13)
                          document.getElementById('btnSearch').click()" ng-model="username" autofocus>  
              </strong>
              </form>
            </div>

            <div class="modal-footer">
              
              <button class="btn btn-info" id = "btnSearch"
                  onclick="loginuser();" ng-click="addUser()" data-dismiss="modal">
                Done
              </button> 
              
              
            
            </div>
          </div>
          
        </div>
        
      </div>
      
    </div>
  </div>
</div>





      </div>
    </div>
    <div class="container"> </div>
  </div>
  <div class="py-1" style="background-color: grey;" id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <p class="text-left text-white">Subscribe to get free email updates</p>
          <form class="form-inline">
            <div class="form-group">
              <input type="email" class="form-control" ng-model="subscribers.email" placeholder="Your e-mail here"> </div>
            <button type="submit" ng-click="addSubscriber()" onclick="alert('Thank you for Subscribing!')" class="btn btn-primary mx-1">Subscribe</button>
          </form>
        </div>
        <div class="col-3 col-md-1 align-self-center">
          <a href="https://www.facebook.com/fernsberns6" target="blank"><i class="fa fa-fw fa-facebook fa-2x text-white"></i></a>
        </div>
        <div class="col-3 col-md-1 align-self-center">
          <a href="https://www.linkedin.com/in/johnbernad" target="blank"><i class="fa fa-fw fa-linkedin fa-2x text-white"></i></a>
        </div>
        <div class="col-3 col-md-1 align-self-center">
          <a href="https://twitter.com/fernsberns" target="blank"><i class="fa fa-fw fa-twitter text-white fa-2x"></i></a>
        </div>
        <div class="col-3 col-md-1 align-self-center">
          <a href="https://www.instagram.com/fernsberns" target="blank"><i class="fa fa-fw fa-instagram text-white fa-2x"></i></a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 display-5 text-muted">
          <p class="text-center text-white">© Copyright 2017 JohnBernad - All rights reserved. </p>
        </div>
      </div>
    </div>
  </div>