 <div class="cover d-flex align-items-center pt-2 bg-primary" id="cover">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-md-left align-self-center my-0">
          <h1 class="text-white display-4">Company Name</h1>
          <h4 class="text-white">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</h4>
          <div class="row mt-5">
            <div class="col-md-5 col-6">
              <a href="#download">
                <img class="center-block img-fluid d-block" src="https://pingendo.github.io/templates/app/download_android.png"> </a>
            </div>
            <div class="col-md-5 col-6">
              <a href="#download">
                <img class="center-block img-fluid d-block" src="https://pingendo.github.io/templates/app/download_ios.png"> </a>
            </div>
          </div>
        </div>
        <div class="offset-md-1 col-md-5">
          <img class="img-fluid d-block mx-auto" src="iphone_cover.png"> </div>
      </div>
    </div>
  </div>
  <div class="py-5 text-center">
    <div class="container">
      <div class="row">
        <div class="col-4 animated fadeInUp" style="animation-delay: 0.5s;">
          <a href="#!/login"><i class="fa fa-5x fa-fw fa-user text-primary"></i></a>
          <h4 class="text-info"> Log in /Sign up</h4>
        </div>
        <div class="col-4 animated fadeInUp" style="animation-delay: 0.5s;">
          <a href="contactus.html"><i class="fa fa-5x fa-fw fa-envelope text-primary"></i></a>
          <h4 class="text-info"> Contact Us </h4>
        </div>
        <div class="col-4 animated fadeInUp" style="animation-delay: 0.5s;">
          <a href="#about"><i class="fa fa-5x fa-fw fa-info-circle text-primary"></i></a>
          <h4 class="text-info"> Learn More </h4>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-primary text-center d-flex h-100 align-items-center" id="about">
    <div class="container">
      <div class="row my-5">
        <div class="my-5 py-5 col-lg-12">
          <h1 class="display-3 text-white">About our company</h1>
          <p class="text-white my-3 text-justify">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.&nbsp;Lorem ipsum dolor sit amet, consectetuer adipiscing
            elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.&nbsp;Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
            massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.&nbsp;Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
            dis parturient montes, nascetur ridiculus mus.</p>
          <a href="#" class="btn btn-lg btn-info my-4">Join Now</a>
        </div>
      </div>
    </div>
  </div>
  <div class="py-1 bg-info" id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <p class="text-left">Subscribe to get free email updates</p>
          <form class="form-inline">
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Your e-mail here"> </div>
            <button type="submit" class="btn btn-primary mx-1">Subscribe</button>
          </form>
        </div>
        <div class="col-4 col-md-1 align-self-center">
          <a href="https://www.facebook.com" target="blank"><i class="fa fa-fw fa-facebook fa-2x text-white"></i></a>
        </div>
        <div class="col-4 col-md-1 align-self-center">
          <a href="https://twitter.com" target="blank"><i class="fa fa-fw fa-twitter fa-2x text-white"></i></a>
        </div>
        <div class="col-4 col-md-1 align-self-center">
          <a href="https://www.instagram.com" target="blank"><i class="fa fa-fw fa-instagram text-white fa-2x"></i></a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 display-5 text-muted">
          <p>© Copyright 2017 JohnBernad - All rights reserved. </p>
        </div>
      </div>
    </div>
  </div>