
 <div class="cover d-flex align-items-center pt-2 bg-info" style="background-image: url('bg1.jpg');background-repeat: no-repeat; background-size: 100% 100%; box-shadow: 2px 2px 10px grey;" id="cover">
    <div class="container">
      <div class="row">
      <div class="col-md-6 col-sm-3 py-5 my-5"><img style="transform: translate(230px, 0px);" height="220" width="220"  src="pic.png"></div>
        <div class="col-md-6 col-sm-3 text-md-left align-self-center" style="transform: translate(-50px, 0px);">
          <h2 id="name" class="text-white ">John Fernando Bernad</h2>
          <h6 class="text-white ">Full-stack Web Developer</h6>
          <i class="fa fa-fw fa-phone text-white"></i> <small> &nbsp; +1 707 342 3998</small>
          <br><i class="fa fa-fw fa-envelope text-white"></i> <small class="display"> &nbsp; johnbernad6@gmail.com</small>
          <br><a href="contactus.html" style="text-decoration: none;color: white;"><i class="fa fa-fw fa-map-marker text-white"></i> <small class="py-4">215 E 117th St New York, NY 10035</small></a>
          
        </div>

      </div>
    </div>
  </div>
  <div class="py-5 text-center">
    <div class="container">
      <div class="row">
        <div class="col-4 animated fadeInUp" style="animation-delay: 1s;">
          <a href="#!/login"><i class="fa fa-5x fa-fw fa-user text-info"></i></a>
          <h4 class="text-info">Client login</h4>
        </div>
        <div class="col-4 animated fadeInUp" style="animation-delay: 1s;">
          <a href="contactus.html"><i class="fa fa-5x fa-fw fa-envelope text-info"></i></a>
          <h4 class="text-info">Contact me</h4>
        </div>
        <div class="col-4 animated fadeInUp" style="animation-delay: 1s;">
          <a href="#about"><i class="fa fa-5x fa-fw fa-info-circle text-info"></i></a>
          <h4 class="text-info">About me </h4>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-info text-center d-flex h-100 align-items-center" id="about">
    <div class="container">
      <div class="row my-5">
        <div class="my-5 py-5 col-lg-12">
          <h1 class="display-5 text-white">John Fernando B. Bernad</h1>
          <p class="text-white my-3 text-align">I graduated with a Bachelor's Degree in Information Technology
                                                 last june 2017. I Passed the Information Technology Passport Certification Exam of the Philippine National IT Standards (PhilNITS). I have worked for different clients as a web developer and graphic artist for the last 2 years.
I am interested in both long-term projects and short-term projects. I am very open to negotiations.
<br><br>
I'm very flexible with my working hours.
<br><br>
I hope to get in touch with you!</p>

<small class="text-muted"> I am mostly enjoy working as a Front-end and/or Back-end Web developer. For Back-end I have used node.js(express framework) with REST API for server management. For client side web programming, I have used Angular.js, jQuery and MongoDB with a Model View Controller Architecture. I am also proficient at creating real-time and responsive websites with the use of (Web Sockets). I design websites using HTML5, CSS3, SASS, Bootstrap4, plain Javascript, Animate.css and JQuery</small><br>
          <a href="contactus.html" class="btn btn-lg btn-primary my-4">Contact Me</a>
        </div>
      </div>
    </div>
  </div>
   <div class="bg-white d-flex h-100 align-items-center">
    <div class="container">
      <div class="row mb-5">


        <div class="my-5 col-lg-12">
          <h1 class="display-5 text-info">Education</h1>
          <h5><strong>Bachelor's in Information Technology</strong></h5>
          <small>La Salle University</small><br>
          <small>June 2013 to June 2017</small>
          <hr>
        </div>

        <div class="mb-3 col-lg-12">
          <h1 class="display-5 text-info">Certifications</h1>
          <h5><strong>Information Technology Passport (IP) Certification Exam PhilNITS IP certification</strong></h5>
          <small>The Philippine National IT Standards Foundation, Inc.</small><br>
          <small>April 2017 to Present</small>
          <hr>
        </div>

        <div class="mb-3 col-lg-12">
          <h1 class="display-5 text-info">Skills</h1>


                      
            
              

              <div class="progress">
              <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50"
              aria-valuemin="0" aria-valuemax="100" style="width:50%;background-color: #45565c;">
                Node.js
              </div>
              </div><br>


              <div class="progress">
              <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80"
              aria-valuemin="0" aria-valuemax="100" style="width:80%;background-color: #45565c;">
              Angular.js
              </div>
              </div><br>

              <div class="progress">
              <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80"
              aria-valuemin="0" aria-valuemax="100" style="width:80%;background-color: #45565c;">
              MongoDb(NoSql)
              </div>
              </div><br>

              <div class="progress">
              <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="90"
              aria-valuemin="0" aria-valuemax="100" style="width:90%;background-color: #45565c;">
              Html5 & Css3
              </div>
              </div><br>

              <div class="progress">
              <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20"
              aria-valuemin="0" aria-valuemax="100" style="width:20%;background-color: #45565c;">
              jQuery
              </div>
              </div><br>

                <div class="progress">
              <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="40"
              aria-valuemin="0" aria-valuemax="100" style="width:40%;background-color: #45565c;">
                JavaScript
              </div>
              </div><br>


              <div class="progress">
              <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60"
              aria-valuemin="0" aria-valuemax="100" style="width:60%;background-color: #45565c;">
              Web Sockets
              </div>
              </div><br>

              <pre><small>
<h6>more skills:</h6>Php, MySQL, C, C#, Java, Python,Video editing (Adobe Premiere)
Audio Editing (Adobe Audition), Animation (Adobe After Effects)
Graphic design (Adobe Illustrator & Adobe Photoshop) 
Hardware Servicing & Troubleshooting, System & network configuration 
             </small> </pre>

          <hr>
        </div>


 <h4 class="text-primary text-center">Suggested offers</h4>
            <div class="pb-5 text-center">
              <div class="container">
                <div class="row">
                  <div class="col-md-4">
                    <div class="card my-1">
                      <div class="card-block text-center">
                        
                                                <h3 class="text-info">Graphic Web Design</h3>
                        <h3 class="text-info">30 $ </h3>
                      </div>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">Using Adobe Photoshop</li>
                        <li class="list-group-item">starting with 3 pages</li>
                        <li class="list-group-item">access to all graphics files</li>
                      </ul>
                      <div class="card-block">
                        <a href="#!/loginbuy" class="btn btn-block btn-info">buy</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card ">
                      <div class="bg-info card-block">
                        <h6>Graphic Design and </h6><h3 class="card-title text-white">Front End Web Design</h3>
                        <h2 class="text-white">95 $</h2>
                      </div>
                      <ul class="list-group list-group-flush ">
                        <li class="list-group-item">Using HTML5&CSS3, Bootstrap and Adobe Photoshop</li>
                        <li class="list-group-item">Responsive design with animations</li>
                        <li class="list-group-item">Includes all code and source files</li>
                      </ul>
                      <div class="card-block ">
                        <a href="#!/loginbuy" class="btn btn-block btn-lg btn-info">buy</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card my-1">
                      <div class="card-block text-xs-center">
                        <h6 class="text-info">Graphic Design, Front End Web Design and</h6><h3 class="card-title text-info">Back End Server Development</h3>
                        <h3 class="text-info">195 $</h3>
                      </div>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">Using Node.js, MongoDB, Angular.js, socket.io, HTML5&CSS3, Bootstrap and Adobe Photoshop</li>
                        <li class="list-group-item">Includes a Login&Registraion system and some custom Database Implemetation</li>
                        <li class="list-group-item">Includes all graphics, code and source files</li>
                      </ul>
                      <div class="card-block ">
                        <a href="#!/loginbuy" class="btn btn-block btn-info">buy</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

      </div>
    </div>
  </div>
  <div class="py-1" style="background-color: grey;" id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <p class="text-left text-white">Subscribe to get free email updates</p>
          <form class="form-inline">
            <div class="form-group">
              <input type="email" class="form-control" ng-model="subscribers.email" placeholder="Your e-mail here"> </div>
            <button type="submit" ng-click="addSubscriber()" onclick="alert('Thank you for Subscribing!')" class="btn btn-primary mx-1">Subscribe</button>
          </form>
        </div>
        <div class="col-3 col-md-1 align-self-center">
          <a href="https://www.facebook.com/fernsberns6" target="blank"><i class="fa fa-fw fa-facebook fa-2x text-white"></i></a>
        </div>
        <div class="col-3 col-md-1 align-self-center">
          <a href="https://www.linkedin.com/in/johnbernad" target="blank"><i class="fa fa-fw fa-linkedin fa-2x text-white"></i></a>
        </div>
        <div class="col-3 col-md-1 align-self-center">
          <a href="https://twitter.com/fernsberns" target="blank"><i class="fa fa-fw fa-twitter text-white fa-2x"></i></a>
        </div>
        <div class="col-3 col-md-1 align-self-center">
          <a href="https://www.instagram.com/fernsberns" target="blank"><i class="fa fa-fw fa-instagram text-white fa-2x"></i></a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 display-5 text-muted">
          <p class="text-center text-white">© Copyright 2017 JohnBernad - All rights reserved. </p>
        </div>
      </div>
    </div>
  </div>

