
 <div class="navbar bg-info " style="position: fixed; width: 100%; z-index: 1;max-height: 60px;animation: splash 3s normal forwards ease-out;" id="navbar"><a href="index.html" style="text-decoration: none;color: white;"><img style="transform: translate(10px);" height="40" width="40"  src="pic.png"><p style="transform: translate(60px, -35px);">John Fernando Bernad</p></a>

              <div class="d-none d-sm-none d-md-block d-lg-block d-xl-block">

                <div class="d-inline-block px-3">
                    <a href="#!/login" style="text-decoration: none;color: white;">
                        <i style="font-size: 70%;" class="fa fa-fw fa-user text-white"></i> 
                            <small style="font-size: 70%;">Client Login</small></a>
                </div>
                <div class="d-inline-block px-3">
                    <a href="contactus.html" style="text-decoration: none;color: white;">
                        <i style="font-size: 70%;" class="fa fa-fw fa-envelope text-white"></i>
                            <small style="font-size: 70%;">Contact Me</small></a>
                </div>
                <div class="d-inline-block px-3">
                    <a href="#about" style="text-decoration: none;color: white;">
                      <i style="font-size: 70%;" class="fa fa-fw fa-info text-white"></i> 
                            <small style="font-size: 70%;">About Me</small></a>
                </div>
              </div>
  </div>


 <div class="cover d-flex align-items-center pt-2 bg-info animated fadeIn" style="background-image: url('bg1.jpg');background-repeat: no-repeat; background-size: 100% 100%; box-shadow: 2px 2px 10px grey;background-blend-mode: color-dodge; ;animation-delay: 1s; transform: translate(-5px);" id="cover">
    <div class="container">
      <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-1 py-5 my-5"><img class="animated fadeIn pull-right" style="transform: translate(-15px, 0px);" height="220" width="220"  src="pic.png"></div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-11 text-xs-center align-self-center" style="transform: translate(25px, 0px);">
          <h2 id="name" class="text-white" style="transform: translate(-25px);">John Fernando Bernad</h2>
          <h6 class="text-white ">Full-Stack Web Developer</h6>
          <i class="fa fa-fw fa-phone text-white"></i> <small> &nbsp; +1 707 342 3998</small>
          <br><i class="fa fa-fw fa-envelope text-white"></i> <small class="display"> &nbsp; johnbernad6@gmail.com</small>
          <br><a href="contactus.html" style="text-decoration: none;color: white;"><i class="fa fa-fw fa-map-marker text-white"></i> <small class="py-4">215 E 117th St New York, NY 10035</small></a>
          
        </div>

      </div>
    </div>
  </div>
  <div class="py-5 text-center d-none d-sm-none d-md-block d-lg-block d-xl-block">
    <div class="container">
      <div class="row">
        <div class="col-4 animated fadeInUp" style="animation-delay: 1s;">
          <a href="#!/login"><i class="fa fa-5x fa-fw fa-user text-info"></i></a>
          <h4 class="text-info">Client login</h4>
        </div>
        <div class="col-4 animated fadeInUp" style="animation-delay: 1s;">
          <a href="contactus.html"><i class="fa fa-5x fa-fw fa-envelope text-info"></i></a>
          <h4 class="text-info">Contact me</h4>
        </div>
        <div class="col-4 animated fadeInUp" style="animation-delay: 1s;">
          <a href="#about"><i class="fa fa-5x fa-fw fa-info-circle text-info"></i></a>
          <h4 class="text-info">About me </h4>
        </div>
      </div>
    </div>
  </div>

<div class="py-5 text-center d-block d-sm-block d-md-none d-lg-none d-xl-none">
    <div class="container">
      <div class="row">
        <div class="col-4 animated fadeInUp" style="animation-delay: 1s;">
          <a href="#!/login"><i class="fa fa-2x fa-fw fa-user text-info"></i></a>
          <h6 class="text-info">Client login</h6>
        </div>
        <div class="col-4 animated fadeInUp" style="animation-delay: 1s;">
          <a href="contactus.html"><i class="fa fa-2x fa-fw fa-envelope text-info"></i></a>
          <h6 class="text-info">Contact me</h6>
        </div>
        <div class="col-4 animated fadeInUp" style="animation-delay: 1s;">
          <a href="#about"><i class="fa fa-2x fa-fw fa-info-circle text-info"></i></a>
          <h6 class="text-info">About me </h6>
        </div>
      </div>
    </div>
  </div>

<section>
  <div class="container">
  <div class="row">


    <div class="col-4 animated fadeIn" style="transform: translate(-40px);">
      <a href="https://github.com/fernsberns/Photographer-Website"><img src="emma.gif" id="pitem2" max-width="400" height="250"></a>
    </div>
    <div class="col-4 animated fadeIn"  style="max-width: 33%; transform: translate(-10px);">
      <img src="ccslogo.png" id="pitem3" max-width="200" height="250" onclick="document.getElementById('id02').style.display='block'" class="" style="cursor: zoom-in;"> 
    </div>
    <div class="col-4 animated fadeIn" style="transform: translate(5px);">
      <a href="https://github.com/fernsberns/SQL-Data-Search"><img src="SQL.gif" id="pitem4" max-width="400" height="250"></a>
    </div>
    <div class="col-4 animated fadeIn" style="max-width: 33%;transform: translate(170px,20px);">
      <img src="graphic1.png" id="pitem1" max-width="400" height="250" onclick="document.getElementById('id01').style.display='block'" class="" style="cursor: zoom-in;">
    </div>
    <div class="col-4 animated fadeIn" style="transform: translate(350px,20px);">
      <a href="https://github.com/fernsberns/Ionic-Personal-App"><img src="Ionic.gif" id="pitem5" max-width="400" height="250"></a>
    </div>
  </div>
</div>
</section>

<div id="id01" class="w3-modal">
    <div class="w3-modal-content">
      
        <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
<img src="graphic1.png" id="pitem1" style="width:100%;">
      
    </div>
  </div>
</div>

<div id="id02" class="w3-modal">
    <div class="w3-modal-content">
      
        <span onclick="document.getElementById('id02').style.display='none'" class="w3-button w3-display-topright">&times;</span>
<img src="ccslogo.png" id="pitem3" style="width:100%;">
      
    </div>
  </div>
</div>


<br><br>
  <div class=" text-center h-100 align-items-center d-none d-sm-none d-md-none d-lg-block d-xl-block" id="about" style="background-image: url('bg3.png');background-repeat: no-repeat; background-size: 100% 100%; background-blend-mode: color-burn; opacity: 0.8;">
    <div class="container">
      <div class="row">
        <div class="my-5 py-5 col-lg-12">
          <h1 class="display-5 text-white">Hi, My name is JOHN FERNANDO BERNAD.</h1>
          <p class="text-white my-3 text-align" style="line-height: 3;"> I’m a TECHNICAL candidate. I want a FULL TIME OR CONTRACT OR INTERNSHIP JOB and I WANT TO WORK IN NYC. My ideal role is to be a DEVELOPER or SOFTWARE ENGINEER. I develop real-time, responsive and cross-platform websites. I enjoy both Front-end and Back-end Web development as this helps give me more understanding of how applications work. I have used node.js(express framework), MongoDB and WebSockets with REST API for server-side programming. For client-side web development, I have used AngularJS, HTML5, CSS3, SASS, Bootstrap4 and Javascript(ES6).


<br>
          <a href="contactus.html" class="btn btn-lg my-4 text-white" style="border: 2px solid;background-color: none;">Contact Me</a>
        </div>
      </div>
    </div>
  </div>

<div class=" text-center h-100 align-items-center d-none d-sm-block d-md-block d-lg-none d-xl-none" id="about" style="background-image: url('bg2.png');background-repeat: no-repeat; background-size: 100% 100%; background-blend-mode: color-burn; opacity: 0.8;">
    <div class="container">
      <div class="row">
        <div class="my-5 py-5 col-lg-12">
          <h1 class="display-5 text-white">Hi, I'm John!</h1>
          <p class="text-white my-3 text-align" style="line-height: 3;">I develop real-time, responsive and cross-platform websites. I enjoy both Front-end and Back-end Web development as this helps give me more understanding of how applications work. I have used node.js(express framework), MongoDB and WebSockets with REST API for server-side programming. For client-side web development, I have used AngularJS, HTML5, CSS3, SASS, Bootstrap4 and Javascript(ES6).


<br>
          <a href="contactus.html" class="btn btn-lg my-4 text-white" style="border: 2px solid;background-color: none;">Contact Me</a>
        </div>
      </div>
    </div>
</div>

<div class=" text-center h-100 align-items-center d-block d-sm-none d-md-none d-lg-none d-xl-none" id="about" style="background-image: url('bg1.png');background-repeat: no-repeat; background-size: 100% 100%; background-blend-mode: color-burn; opacity: 0.8;">
    <div class="container">
      <div class="row">
        <div class="my-5 py-5 col-lg-12">
          <h1 class="display-5 text-white">Hi, I'm John!</h1>
          <p class="text-white my-3 text-align" style="line-height: 3;">I develop real-time, responsive and cross-platform websites. I enjoy both Front-end and Back-end Web development as this helps give me more understanding of how applications work. I have used node.js(express framework), MongoDB and WebSockets with REST API for server-side programming. For client-side web development, I have used AngularJS, HTML5, CSS3, SASS, Bootstrap4 and Javascript(ES6).


<br>
          <a href="contactus.html" class="btn btn-lg my-4 text-white" style="border: 2px solid;background-color: none;">Contact Me</a>
        </div>
      </div>
    </div>
</div>



   <div class="bg-white d-flex h-100 align-items-center">
    <div class="container">
      <div class="row mb-5">


        <div class="mb-3 col-lg-12">
          <h1 class="display-5 text-info">Education</h1>
          <h5><strong>Bachelor's in Information Technology</strong></h5>
          <small>La Salle University</small><br>
          <small>June 2013 to June 2017</small>
          <hr>
        </div>

        <div class="mb-3 col-lg-12">
          <h1 class="display-5 text-info">Certifications</h1>
          <h5><strong>Information Technology Passport Certification</strong></h5>
          <small>Japan-based certification recognized throughout Asia</small><br>
          <small>April 2017</small>
          <hr>
        </div>

        <div class="mb-3 col-lg-12">
          <h1 class="display-5 text-info">Awards</h1>
          <h5><strong>Thesis Excellence Award, “Automated Foot Size Recognition System”</strong></h5>
          <small>La Salle University</small><br>
          <small>July 2017</small><br>
          <small style="font-size: 75%">Developed an automated foot size recognition system to accurately detect the foot size using any type of scanner, thus eliminating error-prone manual or <br>conventional foot sizing methods. Implemented different algorithms using C# programming language and runs natively on Windows Operating System. </small>
          <hr>
        </div>

        <div class="mb-3 col-lg-12">
          <h1 class="display-5 text-info">Experience</h1><br>
          <h5><strong>Café Carmela, Ozamiz, Philippines
        Business Manager, 2016 – 2017
          </strong></h5>
          <small>Increased productivity and business.<br>
            <p style="font-size: 90%;">
            &nbsp&nbsp&nbsp&nbsp• Effectively managed production of drinks.<br>
            &nbsp&nbsp&nbsp&nbsp• Increased business by developing new drinks; new drinks independently tested for acceptance before offering to café customers.<br>
            &nbsp&nbsp&nbsp&nbsp• Increased community awareness of café by creating graphic designs to market products. 
            </p></small><br>

          <h5><strong>Brand NU Intellectual Property Consulting, LLC. New York, NY Full-Stack Web Developer, 2016</strong></h5>
          <small style="font-size: 75%;">Developed a website, letterheads and business cards for an Intellectual Property consulting company to meet <br>Intellectual Property needs of clients across multiple industries. Using HTML, CSS, JavaScrit, Adobe Illustrator and Adobe Photoshop.<br><br><br>

          <hr>
        </div>

        <div class="mb-3 col-lg-12">
          <h1 class="display-5 text-info">Skills</h1>


                      
            
              

              <div class="progress">
              <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50"
              aria-valuemin="0" aria-valuemax="100" style="width:50%;background-color: #45565c;">
                Node.js
              </div>
              </div><br>


              <div class="progress">
              <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80"
              aria-valuemin="0" aria-valuemax="100" style="width:80%;background-color: #45565c;">
              Angular.js
              </div>
              </div><br>

              <div class="progress">
              <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80"
              aria-valuemin="0" aria-valuemax="100" style="width:80%;background-color: #45565c;">
              MongoDb(NoSql)
              </div>
              </div><br>

              <div class="progress">
              <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="90"
              aria-valuemin="0" aria-valuemax="100" style="width:90%;background-color: #45565c;">
              Html5 & Css3
              </div>
              </div><br>

              <div class="progress">
              <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20"
              aria-valuemin="0" aria-valuemax="100" style="width:20%;background-color: #45565c;">
              jQuery
              </div>
              </div><br>

                <div class="progress">
              <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="40"
              aria-valuemin="0" aria-valuemax="100" style="width:40%;background-color: #45565c;">
                JavaScript
              </div>
              </div><br>


              <div class="progress">
              <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60"
              aria-valuemin="0" aria-valuemax="100" style="width:60%;background-color: #45565c;">
              Web Sockets
              </div>
              </div><br>

              <pre style="font-family: verdana;"><small>
<h6>more skills:</h6>Php, MySQL, C, C#, Java, Python,Video editing (Adobe Premiere)
Audio Editing (Adobe Audition), Animation (Adobe After Effects)
Graphic design (Adobe Illustrator & Adobe Photoshop) 
Hardware Servicing & Troubleshooting, System & network configuration 
             </small> </pre>

          <hr>
        </div>



 <h4 class="text-primary text-center">I'll build you a website with these offers below</h4>
            <div class="pb-5 text-center" id="offers">
              <div class="container">
                <div class="row">
                  <div class="col-md-4">
                    <div class="card my-1">
                      <div class="card-block text-center">
                        
                                                <h3 class="text-info">Graphic Web Design</h3>
                        <h3 class="text-info">$ 30</h3>
                      </div>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">Using Adobe Photoshop</li>
                        <li class="list-group-item">starting with 3 pages</li>
                        <li class="list-group-item">access to all graphics files</li>
                      </ul>
                      <div class="card-block">
                        <a href="#!/loginbuy" class="btn btn-block btn-info">buy</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card ">
                      <div class="bg-info card-block">
                        <h6>Graphic Design and </h6><h3 class="card-title text-white">Front End Web Design</h3>
                        <h2 class="text-white">$ 95</h2>
                      </div>
                      <ul class="list-group list-group-flush ">
                        <li class="list-group-item">Using HTML5&CSS3, Bootstrap and Adobe Photoshop</li>
                        <li class="list-group-item">Responsive design with animations</li>
                        <li class="list-group-item">Includes all code and source files</li>
                      </ul>
                      <div class="card-block ">
                        <a href="#!/loginbuy" class="btn btn-block btn-lg btn-info">buy</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card my-1">
                      <div class="card-block text-xs-center">
                        <h6 class="text-info">Graphic Design, Front End Web Design and</h6><h3 class="card-title text-info">Back End Server Development</h3>
                        <h3 class="text-info">$ 195</h3>
                      </div>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">Using Node.js, MongoDB, Angular1, socket.io, HTML5&CSS3, Bootstrap and Adobe Photoshop</li>
                        <li class="list-group-item">Includes a Login&Registraion system and some custom Database Implemetation</li>
                        <li class="list-group-item">Includes all graphics, code and source files</li>
                      </ul>
                      <div class="card-block ">
                        <a href="#!/loginbuy" class="btn btn-block btn-info">buy</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

      </div>
    </div>
  </div>
  <div class="py-1 d-none d-sm-none d-md-block d-lg-block d-xl-block" style="background-color: grey;" id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <p class="text-left text-white">Subscribe to get free email updates</p>
          <form class="form-inline">
            <div class="form-group">
              <input type="email" class="form-control" ng-model="subscribers.email" placeholder="Your e-mail here"> </div>
            <button type="submit" ng-click="addSubscriber()" onclick="alert('Thank you for Subscribing!');document.getElementById('subinput').value = null;" class="btn btn-primary mx-1">Subscribe</button>
          </form>
        </div>
        <div class="col-3 col-md-1 align-self-center">
          <a href="https://www.facebook.com/fernsberns6" target="blank"><i class="fa fa-fw fa-facebook fa-2x text-white"></i></a>
        </div>
        <div class="col-3 col-md-1 align-self-center">
          <a href="https://www.linkedin.com/in/johnbernad" target="blank"><i class="fa fa-fw fa-linkedin fa-2x text-white"></i></a>
        </div>
        <div class="col-3 col-md-1 align-self-center">
          <a href="https://twitter.com/fernsberns" target="blank"><i class="fa fa-fw fa-twitter text-white fa-2x"></i></a>
        </div>
        <div class="col-3 col-md-1 align-self-center">
          <a href="https://www.instagram.com/fernsberns" target="blank"><i class="fa fa-fw fa-instagram text-white fa-2x"></i></a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 display-5 text-muted">
          <p class="text-center text-white" style="font-size: 75%;">© Copyright 2017 JohnBernad - All rights reserved. </p>
        </div>
      </div>
    </div>
  </div>

  <div class="d-block d-sm-block d-md-none d-lg-none d-xl-none" style="background-color: grey;" id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <small class="text-left text-white" style="font-size: 50%;">Subscribe to get free email updates</small>
          <form class="form-inline">
            <div class="form-group">
              <input type="email" class="form-control mt-3" style="max-height: 30px;" ng-model="subscribers.email" placeholder="Your e-mail here" size="25"> </div>
            <button type="submit" ng-click="addSubscriber()" onclick="alert('Thank you for Subscribing!');document.getElementById('subinput').value = null;" class="btn btn-sm btn-primary mx-1 mt-1">Subscribe</button>
          </form>
        </div>
        <div class="col-3 col-md-1 align-self-center">
          <a href="https://www.facebook.com/fernsberns6" target="blank"><i class="fa fa-fw fa-facebook text-white"></i></a>
        </div>
        <div class="col-3 col-md-1 align-self-center">
          <a href="https://www.linkedin.com/in/johnbernad" target="blank"><i class="fa fa-fw fa-linkedin text-white"></i></a>
        </div>
        <div class="col-3 col-md-1 align-self-center">
          <a href="https://twitter.com/fernsberns" target="blank"><i class="fa fa-fw fa-twitter text-white "></i></a>
        </div>
        <div class="col-3 col-md-1 align-self-center">
          <a href="https://www.instagram.com/fernsberns" target="blank"><i class="fa fa-fw fa-instagram text-white"></i></a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 display-5 text-muted">
          <small class="text-center text-white" style="font-size: 50%;">© Copyright 2017 JohnBernad - All rights reserved. </small>
        </div>
      </div>
    </div>
  </div>

