 <div class="py-5 bg-info" style="overflow-x:hidden;" ng-controller="ChatController">
    <div class="row">
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
        <a class="btn btn-info btn-lg" style="width:107%;" href="#!/home"><small class="d-none d-sm-none d-md-block d-lg-block d-xl-block">{{uname}}!</small></a>
        <a class="btn btn-info btn-lg col mx-1"  href="#!/home"><small class="d-none d-sm-none d-md-block d-lg-block d-xl-block">Dashboard</small> <i class="fa fa-tachometer d-block d-sm-block d-md-none d-lg-none d-xl-none"></i></a>
        <a class="btn btn-info btn-lg col mx-1" style="background-color:#008ab8;" href="#!/projects"><small class="d-none d-sm-none d-md-block d-lg-block d-xl-block">Projects</small> <i class="fa fa-folder-open d-block d-sm-block d-md-none d-lg-none d-xl-none"></i></a>
        <a class="btn btn-info btn-lg col mx-1" href="#!/messages"><small class="d-none d-sm-none d-md-block d-lg-block d-xl-block">Messages</small> <i class="fa fa-comments d-block d-sm-block d-md-none d-lg-none d-xl-none"></i></a>
        <a class="btn btn-info btn-lg col mx-1" href="#!/about"><small class="d-none d-sm-none d-md-block d-lg-block d-xl-block">About this site</small> <i class="fa fa-info-circle d-block d-sm-block d-md-none d-lg-none d-xl-none"></i></a>
        <a class="btn btn-info btn-lg col mx-1" ng-click="logout()" href="#!/index.html">  <small class="d-none d-sm-none d-md-block d-lg-block d-xl-block">Log Out</small>  <i class="fa fa-sign-out d-block d-sm-block d-md-none d-lg-none d-xl-none"></i></a>
      </div>
      <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9 animated fadeIn" style="background-color: white;box-shadow: 2px 2px 10px grey;">
        <h2 class="m-3 py-1 text-info">Projects</h2>
        <hr>

        <div class="card card-default">
          <div class="card-heading bg-info text-white p-2">My Projects</div>
          <br>
          <div class="card-body text-info p-1 mx-2" ng-repeat="project in listofprojects | filter :{email:emailaddress}">

            <strong ng-init="project.NAME" ng-bind="project.name"></strong>
            <a href=""><i class="fa fa-trash-o pull-right pt-1 px-2 pr-3 text-danger" ng-click="removeProject(project._id)"></a></i> <a href=""><i class="fa fa-pencil-square-o pt-1 pull-right text-warning" ng-click="editProject(project._id)"></i></a><br>
            <small class="text-muted" ng-bind="project.description"></small><small></small>
            <hr>




          </div>
          <p class="text-center" style="color: grey;"><small>- projects panel -</small></p>

        </div>
        <br><br>

                  <div class="form-group">
              <input type="text" class="form-control" id="name" ng-init="project.name" ng-model="project.name" placeholder="Project name" style="height:25px"> </div>
          
            <div class="form-group"> <textarea ng-init="project.description" id="desc" ng-model="project.description" placeholder="Project Description" style="height:25%;width:100%;border: 1px solid #d6d6d6;resize: none;color: grey;"></textarea> </div>
            <input type="text" style="display: none;" ng-model="project.email = emailaddress" >

             <button style="background-color:grey; cursor: not-allowed;" ng-hide="project.description && project.name" onclick="alert('Please do not leave any blank inputs')" class="btn btn-primary fa fa-floppy-o px-5"></button>

            <button ng-show="project.description && project.name" type="submit" id="send" ng-click="addProject()" class="btn btn-primary fa fa-floppy-o px-5" onclick="document.getElementById('desc').value = null;document.getElementById('name').value = null;"></button>


          <br><br><br><br><br><br><br><br><br>
        </div>
      </div>
    </div>


  <div class="py-1" style="background-color: grey;" id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <p class="text-left text-white">Subscribe to get free email updates</p>
          <form class="form-inline">
            <div class="form-group">
              <input type="email" class="form-control" ng-model="subscribers.email" placeholder="Your e-mail here"> </div>
            <button type="submit" ng-click="addSubscriber()" onclick="alert('Thank you for Subscribing!')" class="btn btn-primary mx-1">Subscribe</button>
          </form>
        </div>
        <div class="col-3 col-md-1 align-self-center">
          <a href="https://www.facebook.com/fernsberns6" target="blank"><i class="fa fa-fw fa-facebook fa-2x text-white"></i></a>
        </div>
        <div class="col-3 col-md-1 align-self-center">
          <a href="https://www.linkedin.com/in/johnbernad" target="blank"><i class="fa fa-fw fa-linkedin fa-2x text-white"></i></a>
        </div>
        <div class="col-3 col-md-1 align-self-center">
          <a href="https://twitter.com/fernsberns" target="blank"><i class="fa fa-fw fa-twitter text-white fa-2x"></i></a>
        </div>
        <div class="col-3 col-md-1 align-self-center">
          <a href="https://www.instagram.com/fernsberns" target="blank"><i class="fa fa-fw fa-instagram text-white fa-2x"></i></a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 display-5 text-muted">
          <p class="text-center text-white">© Copyright 2017 JohnBernad - All rights reserved. </p>
        </div>
      </div>
    </div>
  </div>