<div style="background-color: #f5f5f5;">
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3 my-5 py-1 animated fadeInDown" style="box-shadow: 2px 2px 10px grey;background-color: white;">
          <form class="px-4 my-4" ng-controller="ChatController">
            <div class="form-group">
              <input type="text" class="form-control" autofocus ng-init="accounts.fname" placeholder="First Name" ng-model="accounts.fname"> </div>
              <div class="form-group"> 
              <input type="text" class="form-control" autofocus ng-init="accounts.lname" placeholder="Last Name" ng-model="accounts.lname"> </div>
              <div class="form-group"> 
              <input type="text" class="form-control" autofocus ng-init="accounts.email" placeholder="Email" ng-model="accounts.email"> </div>
            <div class="form-group">
              <input type="password" class="form-control" ng-init="accounts.password" placeholder="Password" ng-model="accounts.password"> </div>
              <div class="form-group">
              <input type="password" class="form-control" ng-init="accounts.cpassword" placeholder="Confirm Password" ng-model="accounts.cpassword"> </div>

            <input style="background-color:grey; cursor: not-allowed;width:31%;" ng-hide="accounts.fname && accounts.lname && accounts.email && accounts.password && accounts.cpassword" onclick="alert('Please do not leave any blank inputs')" class="btn btn-basic text-white" value="Create Account">

            <a href="#!/login"><input ng-show="accounts.fname && accounts.lname && accounts.email && accounts.password && accounts.cpassword " type="submit" onclick="alert('account created successfully');document.getElementById('subinput').value = null;" ng-click="addUser()" class="btn btn-primary" value="Create Account"></a>
            <br>
            <a href="#!/login"><small>Already have an account?</small></a>
            <br>
            <br>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="py-2" style="background-color: #f5f5f5;">
    <div class="container">
      <div class="row">
        <div class="col-md-12 my-2"></div>
      </div>
    </div>
  </div>
  <div class="py-1 d-none d-sm-none d-md-block d-lg-block d-xl-block" style="background-color: grey;" id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <p class="text-left text-white">Subscribe to get free email updates</p>
          <form class="form-inline">
            <div class="form-group">
              <input type="email" class="form-control" ng-model="subscribers.email" placeholder="Your e-mail here"> </div>
            <button type="submit" ng-click="addSubscriber()" onclick="alert('Thank you for Subscribing!');document.getElementById('subinput').value = null;" class="btn btn-primary mx-1">Subscribe</button>
          </form>
        </div>
        <div class="col-3 col-md-1 align-self-center">
          <a href="https://www.facebook.com/fernsberns6" target="blank"><i class="fa fa-fw fa-facebook fa-2x text-white"></i></a>
        </div>
        <div class="col-3 col-md-1 align-self-center">
          <a href="https://www.linkedin.com/in/johnbernad" target="blank"><i class="fa fa-fw fa-linkedin fa-2x text-white"></i></a>
        </div>
        <div class="col-3 col-md-1 align-self-center">
          <a href="https://twitter.com/fernsberns" target="blank"><i class="fa fa-fw fa-twitter text-white fa-2x"></i></a>
        </div>
        <div class="col-3 col-md-1 align-self-center">
          <a href="https://www.instagram.com/fernsberns" target="blank"><i class="fa fa-fw fa-instagram text-white fa-2x"></i></a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 display-5 text-muted">
          <p class="text-center text-white" style="font-size: 75%;">© Copyright 2017 JohnBernad - All rights reserved. </p>
        </div>
      </div>
    </div>
  </div>

  <div class="d-block d-sm-block d-md-none d-lg-none d-xl-none" style="background-color: grey;" id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <small class="text-left text-white" style="font-size: 50%;">Subscribe to get free email updates</small>
          <form class="form-inline">
            <div class="form-group">
              <input type="email" class="form-control mt-3" style="max-height: 30px;" ng-model="subscribers.email" placeholder="Your e-mail here" size="25"> </div>
            <button type="submit" ng-click="addSubscriber()" onclick="alert('Thank you for Subscribing!');document.getElementById('subinput').value = null;" class="btn btn-sm btn-primary mx-1 mt-1">Subscribe</button>
          </form>
        </div>
        <div class="col-3 col-md-1 align-self-center">
          <a href="https://www.facebook.com/fernsberns6" target="blank"><i class="fa fa-fw fa-facebook text-white"></i></a>
        </div>
        <div class="col-3 col-md-1 align-self-center">
          <a href="https://www.linkedin.com/in/johnbernad" target="blank"><i class="fa fa-fw fa-linkedin text-white"></i></a>
        </div>
        <div class="col-3 col-md-1 align-self-center">
          <a href="https://twitter.com/fernsberns" target="blank"><i class="fa fa-fw fa-twitter text-white "></i></a>
        </div>
        <div class="col-3 col-md-1 align-self-center">
          <a href="https://www.instagram.com/fernsberns" target="blank"><i class="fa fa-fw fa-instagram text-white"></i></a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 display-5 text-muted">
          <small class="text-center text-white" style="font-size: 50%;">© Copyright 2017 JohnBernad - All rights reserved. </small>
        </div>
      </div>
    </div>
  </div>